.ChartsContainer {
    position: absolute;
    left: -3%;
    width: 60%;
}

.Feed {
    position: absolute;
    right: 0%;
    width: 40%;
}

html {
    background-color: black;
    color: white;
}

.FeedCard {
    background: black !important;
    margin-top: 5px;
}

.FeedCardContainer {
    border-top: 1px;
    border-color: white;
}