.accordion-body { 
    color: "white" !important;
    background-color: black !important;
}



.accordion-toggle {
    background-color: gray;
    display: block;
    padding: 10px;
    margin: -10px -15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.accordion-toggle.collapsed {
    background-color: black;
}

