.HeadingBold {
    font-family: 'Inter', sans-serif;
}

.HeadingLight {
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
}

.HeadingRegular {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
}

.LandingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.LandingContainerBlur {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    -webkit-filter: grayscale(90%)
}

.MissionStatement {
    position: absolute;
    z-index: 2;
}